<div class="navbar_b" id="myNavbar">
  <a href="#home"><i class="fas fa-home"></i></a>
  <a href="#discover"><i class="fas fa-map"></i></a>
  <a href="#favorite"><i class="fas fa-bookmark"></i></a>
  <a href="#Profile"><i class="fas fa-user-circle"></i></a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
