<h1>inserir un buscador</h1>
<%@restaurants.each do |restaurant|%>
  <%= link_to restaurant_path(restaurant) do %>
    <div id="restaurants-home">
      <div id="logo-home" class="text-center">logo</div>
      <div id="description-home" class="text-center"><%=restaurant.name%></div>
    </div>
  <% end %>
<% end %>
