<body class="bg-orange">
<div class="container text-center" >
<%= link_to root_path do %>
   <%= image_tag "logo.png"%>
<% end %>
</div>
<div class= "active btn-default">
<%= link_to 'test motherfucker', restaurants_path%>
</div>
</body>

