<body class="bg-orange">
   <div class="container text-center" >
      <%= link_to root_path do %>
         <%= image_tag "logo.png"%>
      <% end %>
   </div>
   
   <div class= "container text-center" >
      <%= link_to 'Log in', new_user_session_path, class: "button-white mb-4"%>
   </div>

   <div class= "container text-center" >
      <%= link_to 'Find a restaurant', restaurants_path, class: "button-white"%>
   </div>
</body>

