<div class="d-flex justify-content-center mb-3 test">
<div class="p-2 bd-highlight">Todos</div>
<div class="p-2 bd-highlight">Brazilian</div>
<div class="p-2 bd-highlight">Italian</div>
<div class="p-2 bd-highlight">Brazilian</div>
<div class="p-2 bd-highlight">Italian</div>
<div class="p-2 bd-highlight">Brazilian</div>
<div class="p-2 bd-highlight">Italian</div>
<div class="p-2 bd-highlight">Italian</div>
<div class="p-2 bd-highlight">Brazilian</div>
<div class="p-2 bd-highlight">Italian</div>
<div class="p-2 bd-highlight">Brazilian</div>
<div class="p-2 bd-highlight">Italian</div>
</div>
