<%# Sorry, never heard of you what's you name again? %>
<h1>Smart Menu</h1>
<%# Now I remember, what do you do that I don't recall? %>
<h2>Restaurant menu made simple</h2>
<%# Nice that is exactly what I'm looking for. What you got for me? %>
<%@restaurants.each do |restaurant|%>
  <%= link_to restaurant_path(restaurant) do %>
    <div id="restaurants-home">
      <div id="logo-home" class="text-center">logo</div>
      <div id="description-home" class="text-center"><%=restaurant.name%></div>
    </div>
  <% end %>
<% end %>
