<body class="bg-orange">

  <div class="container">
     <div class="text-center m-5 text-raiting"> Many Thanks</div>
     <div class="text-center m-3">
      <%= image_tag "https://res.cloudinary.com/dpjghjtp1/image/upload/v1592590168/le-wagon_adi3n2.png", height: 150, width: 150, crop: :fill%>
    </div>
    <div class="text-center m-5 text-raiting"> June 2020 </div>

        <div class="text-center m-3"> Contributors</div>
        <div class="text-center m-3"> Fernanda Bocato</div>
        <div class="text-center m-3"> Paulo Sacilotti </div>
        <div class="text-center m-3"> Antonio S Braz</div>
        <div class="text-center m-3"> Ruben Medina</div>
  </div>
</body>
