<div class="welcome-banner" style="background-image: url('https://res.cloudinary.com/dpjghjtp1/image/upload/v1591742887/nik-owens-40OJLYVWeeM-unsplash_mjrgxq.jpg')">  </div>
<div>
  <%= render 'items/index', items: @restaurant.items %>
</div>
<%= link_to 'Add new item into your restaurant', new_restaurant_item_path(@restaurant), class: "btn btn-outline-secondary" %>
<%= link_to 'Back', restaurants_path, class: "btn btn-outline-secondary" %>
