<h2>Menu Itens</h2>

<div class="cards">
<%items.each do |item| %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2><%= item.name %></h2>
      <p><%= item.description %></p>
      <p><%= item.price %></p>
      <%= link_to 'Add', "#", class: "btn btn-outline-secondary" %>

    </div>
  </div>
<% end %>
</div>

<!-- Start Section Body Part 1 -->

  <div class="container-fluid">

    <div id="fda_app" class="row">

      <section id="fda_product_tile" class="col-12">

        <div class="row fda_food_row">
            <div class="col-9">
                <div class="food_tile active">
                    <img src="https://github.com/CodeFrogShow/UI-Design-Food-Delivery-App/blob/master/imgs/food/tsr.png?raw=true" alt="" class="fda_product_img">
                    <span class="food_name">Schezwan Rice</span>
                    <span class="food_detail">Triple schezuan rice, combines hakka noodles, fried rice, crisp noodles and ..</span>
                    <ul id="food_meta">
                        <li>
                            Calorie
                            <span>325 CAL</span>
                        </li>
                        <li>
                            Price
                            <span><i class="fa fa-inr"></i> 550</span>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-sm" id="btn-default">Order Now</button>
                </div>
            </div>
            <div class="col-9">
                <div class="food_tile">
                    <img src="https://github.com/CodeFrogShow/UI-Design-Food-Delivery-App/blob/master/imgs/food/pav-bhaji.png?raw=true" alt="" class="fda_product_img">
                    <span class="food_name">Pav Bhaji Butter</span>
                    <span class="food_detail">Pav bhaji is a fast food dish from India, consisting of a thick vegetable curry ..</span>
                    <ul id="food_meta">
                        <li>
                            Calorie
                            <span>600 CAL</span>
                        </li>
                        <li>
                            Price
                            <span><i class="fa fa-inr"></i> 350</span>
                        </li>
                    </ul>
                    <button type="button" id="btn-default" class="btn btn-sm">Order Now</button>
                </div>
            </div>
        </div>

      </section>

    </div>
  </div>
<!-- End Section Body Part 1 -->
