.card-product {
  overflow: hidden;
  width: 90%;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

// .card-product img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

/** Start Section Body Part 1 restaurant menu **/

#fda_app
{
    padding-left: 50px;
    padding-top: 10px;
    overflow-x: hidden;
}

#fda_app > section
{
    padding-top: 20px;
    padding-bottom: 0;
}
.btn-default
{
    margin-bottom: 15px;
    padding: 12px 40px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.5px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    background-color: #f88e7c;
    color: #fff;
    box-shadow: 0 5px 1px rgba(248, 142, 124, 0.7);
}

.active .btn-default
{
    border: 1px solid rgba(0,0,0,0.04);
    background-color: #f88e7c;
    color: #fff;
    box-shadow: 0 5px 1px rgba(248,142,124,0.7);
}

.plate{
    width: 150px;
    height: 150px;
}

.plate img {
    position: relative;
    width: 100% !important;
    height: 100%;
    border-radius: 100%;
    padding: 20px;
    background-color: rgba(0,0,0,0.05);
    box-shadow: inset 0 0 25px rgba(255,255,255,0.15),
                inset 0 4px 0 rgba(0,0,0,0.05),
                inset 0 -4px 0 rgba(0,0,0,0.05),
                inset 0 10px 10px rgba(0,0,0,0.09),
                0 1px 0px rgba(0,0,0,0.1),
                0 8px 7px rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.1);
}

.product-details {
  text-align: center;
  margin: 5px;
}
/** End Section Body Part 1 **/
