.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  max-width: 450px;
}

// .card-product img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}


#fda_app
{
    padding-left: 50px;
    padding-top: 10px;
    overflow-x: hidden;
}

#fda_app > section
{
    padding-top: 20px;
    padding-bottom: 0;
}

/** Start Section Body Part 1 **/

.fda_food_row
{
    flex-wrap: nowrap;
}

.fda_food_row > .col-9
{
    max-width: 245px;
}

.fda_food_row > div:not(:first-child)
{
    margin-left: -15px;
}

#fda_product_tile
{
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
}

#fda_product_tile span
{
    display: block;
}

.fda_food_row div.food_tile
{
    background-color: rgba(0,0,0,0.05);
    font-size: 11px;
    padding: 0 25px;
    border-radius: 25px;
}

.fda_food_row div.food_tile.active
{
    background-color: rgba(220,230,252,1);
}

.fda_food_row div.food_tile img
{
    position: relative;
    width: 150px;
    border-radius: 100%;
    padding: 20px;
    background-color: rgba(0,0,0,0.05);
    box-shadow: inset 0 0 25px rgba(255,255,255,0.15),
                inset 0 4px 0 rgba(0,0,0,0.05),
                inset 0 -4px 0 rgba(0,0,0,0.05),
                inset 0 10px 10px rgba(0,0,0,0.09),
                0 1px 0px rgba(0,0,0,0.1),
                0 8px 7px rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.1);
    margin-top: -60px;
    margin-bottom: 18px;
}

div.food_tile.active img
{
    background-color: rgba(220,230,252,0.85); 
}

.food_name
{
    font-size: 15px;
    font-weight: 600;
    color: rgba(38, 29, 86, 1);
    margin-bottom: 12px;
}

.food_detail
{
    font-size: 10px;
    color: rgba(38, 29, 86, 0.4);
    margin-bottom: 15px;   
}

#food_meta
{
    margin: 0;
    padding: 0;
}

#food_meta li
{
    list-style: none;
    float: left;
    width: 50%;
    margin-bottom: 25px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(38, 29, 86, 1);
}

#food_meta li span
{
    font-size: 12px;
    font-weight: 500;
    color: rgba(38, 29, 86, 0.5);   
}

#btn-default
{
    border: 1px solid rgba(0,0,0,0.5);
    margin-bottom: 15px;
    padding: 12px 40px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.5px;
    background-color: transparent;
    color: rgba(0,0,0,0.8);
}

.active #btn-default
{
    border: 1px solid rgba(0,0,0,0.04);
    background-color: #f88e7c;
    color: #fff;
    box-shadow: 0 5px 1px rgba(248,142,124,0.7);
}
/** End Section Body Part 1 **/

.plate img {
    position: relative;
    width: 150px;
    border-radius: 100%;
    padding: 20px;
    background-color: rgba(0,0,0,0.05);
    box-shadow: inset 0 0 25px rgba(255,255,255,0.15),
                inset 0 4px 0 rgba(0,0,0,0.05),
                inset 0 -4px 0 rgba(0,0,0,0.05),
                inset 0 10px 10px rgba(0,0,0,0.09),
                0 1px 0px rgba(0,0,0,0.1),
                0 8px 7px rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.1);
}