.choose_table {
  border: 1px solid #f39031;
  border-radius: 10px;
  padding: 5px;
  color: #f39031;
  margin-top: 10px;
  background: white;
  width: 130px;
}

.choose_table-a {
  border: 1px solid #f39031;
  border-radius: 10px;
  padding: 5px;
  color: #f39031;
  margin: 10px;
  background: white;
}

.text-raiting {
  font-size: 40px;
}
