.btn-white-text {
  font-family: Roboto;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FF9234;
  background-color: #ffffff;
}

.btn-white {
  width: 304px;
  height: 50px;
  border-radius: 8px;
  background-color: #ffffff;
}

.logo {
  width: 375px;
  height: 344px;
}
