.btn-white-text {
  font-family: Roboto;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FF9234;
  background-color: #ffffff;
}

.btn-white {
  width: 304px;
  height: 50px;
  border-radius: 8px;
  background-color: #ffffff;
}

.logo {
  width: 375px;
  height: 344px;
}

.button-white {
  font-family: Roboto;
  font-weight: 800;
  min-width: 250px;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: #FFC828;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 50px;
}

.button-white:hover {
  color: lightgrey;
  text-decoration:none;
}

.button-orange {
  font-family: Roboto;
  font-weight: 800;
  min-width: 250px;
  border-radius: 5px;
  border: none;
  background-color:  #FFC828;
  color:  white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-white:hover {
  color: grey;
  text-decoration:none;
}

.button-orange:hover {
  background-color: grey;
  text-decoration:none;
}


.image-home {
  max-width: 280px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}
