.footer {
  font-family: Roboto;
  font-weight: 800;
  height: 50px;
  width: 60%;
  background-color: #FFC828;
  border-radius: 8px;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: auto;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 14px;
  left: 22%;
}
.footer h5 {
  color: black;
}
.footer-white {
  height: 45px;
  background-color: white;
}
