.footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 90%;
  border: 2px solid #F39031;
  border-radius: 8px;
  color: white;
  text-align: center;
  margin: 5%;
}
.footer-white {
  height: 80px;
  background-color: white;
}
