.footer {
  font-family: Roboto;
  font-weight: 800;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 90%;
  background-color: #FFC828;
  border-radius: 8px;
  color: white;
  text-align: center;
  padding-top: 8px;
  text-decoration: none;
  margin: 5%;
  border: none;
}
.footer h5 {
  color: black;
}
.footer-white {
  height: 80px;
  background-color: white;
}
