#restaurants-home {
  display: flex;
  border: 1px solid blue;
  border-radius: 15px;
  margin: 15px;
  min-height: 15vh;
}
#logo-home {
  border: 1px solid red;
  min-width: 40%;
  border-radius: 15px;
}

#description-home {
  border: 1px solid red;
  min-width: 60%;
  border-radius: 15px;
}

